.error {
  padding: 1vw;
  color: #ff5252;
  background-color: #ffebee;
  border: 0.1vw solid #ff5252;
  border-radius: 0.4vw;
  text-align: center;
  margin-bottom: 1vh;
}

.cardContainer {
  margin-top: 25vh;
}

.loginButton {
  margin-right: 1vw;
}
