.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 2vw;
  background-color: #f0f0f0;
  border-bottom: 0.1vh solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  max-height: 7%;
}

.title {
  font-size: 3vh;
  font-weight: bold;
  color: #333;
}

.controls {
  display: flex;
}

// Sacuvala sam zakomentarisane jos neke dimenzije ekrana koje sam proveravala (720, 750, 1440px) - ali za njih nije bilo potrebe za dodatnim stilovima:

//example: 480px
.button {
  margin: 0.2vw;
  background-color: #c6d3e3;
}

@media screen and (min-width: 640px) {
  .button {
    margin: 1vw;
    background-color: #c6d3e3;
  }
}

// @media screen and (min-width: 720px) {
//   //sve ok
// }

// @media screen and (min-width: 750px) {
//   //sve ok
// }

@media screen and (min-width: 1080px) {
  .button {
    margin-right: 2vw;
    background-color: #c6d3e3;
  }
}

// @media screen and (min-width: 1440px) {
//   //sve ok
// }
